<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"> -->
    <!-- linking a javascript file -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}"></script> -->
    <!-- linking an image -->
    <!-- <img src="{{ url_for('static', filename='img_logo_horizontal.png') }}"> -->
    <title>Read To Me</title>
</head>
<body class="bkg">
    <header class="plain-bkg px-5">
        <img src="/static/img/logoH-nobg.png" class="logo-400" alt="Read To Me Logo">
    </header>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="px-5">
            <img src="/static/img/read-toucan-nobg.png" class="img-400" alt="Toucan Reading">
        </div>
        <div>
            <h3 class="plain-bkg rounded">A fun way to improve your reading skills!</h2>
            <div class="d-flex justify-content-center">
                <button class="btn btn-logo-yellow mx-2 px-5">Register</button>
                <button class="btn btn-logo-orange px-5">Login</button>
            </div>
        </div>
    </div>

    <div class="mx-5 pt-3 mb-5 bg-white d-flex justify-content-center align-items-center rounded-3">
        <img src="/static/img/read-whale-nobg.png" class="img-300 ms-5" alt="Whale Reading">
        <div class="me-5">
            <h4>Literacy is our favorite thing here at <strong>Read To Me!</strong></h4>
            <p>Research shows us that a student's literacy level impacts their learning in all subjects. A key component of literacy is reading fluency.</p>
        </div>
    </div>
    <div class="mx-5 pt-3 mb-5 bg-white d-flex justify-content-center align-items-center rounded-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 p-2 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
            </div>
            <h3>Featured Title</h3>
            <p>Text text text</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 p-2 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
            </div>
            <h3>Featured Title</h3>
            <p>Text text text</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center mb-3 p-2 rounded">
                <img src="/static/img/read-penguin-nobg.png" class="img-200" alt="Penguin Reading">
            </div>
            <h3>Featured Title</h3>
            <p>Text text text</p>
        </div>
    </div>


    <div class="bg-white py-3 d-flex justify-content-center align-items-center">
        <h3>Come join Read To Me! </h3>
        <button class="btn btn-logo-yellow ms-2 px-5 py-1">Register</button>
    </div>



    <!-- <div class="d-flex justify-content-center bkg-yellow-gradient">
        <img src="/static/img/kid-reading-nobg.png" alt="Read To Me Logo" class="logo-vertical">
        <img src="/static/img/logoV-nobg.png" alt="Read To Me Logo" class="logo-vertical">
        <div class="text-center font-14 m-3">
            <a class="btn btn-logo-orange mb-5" href="/login">Register</a>
            <a class="btn btn-logo-yellow mb-5" href="/login">Login</a>
            <p class="mt-4">
                Literacy is our favorite thing here at Read To Me! 
            <p>
                Research shows us that a student's literacy level impacts their learning in all subjects. A key component of literacy is reading fluency.
            </p>
            <p>
                This website allows students to record up to 1 minute of themselves reading short texts organized by grade level. 
                By doing this, the student can play back their own recording to watch and hear how it sounds! This allows students to experience the text in a new way and gain confidence with text... a win-win!
            </p>
            <p>
                <strong>Coming Soon:</strong><br>
                Using AI insights, students will receive immediate feedback into their pronunciation and fluency with the text!
            </p>
        </div>
    </div> -->
</body>
</html>