<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Listen to My Recordings</title>
</head>
<body style="text-align:center">
    <div class="d-flex justify-content-between align-items-center">
        <img src="/static/img/img_logo_horizontal.png" alt="Read To Me Logo" class="logo-horizontal">
        <div>
            <a class="btn btn-logo-yellow marg-10" href="/home">Home</a>
            <a class="btn btn-logo-orange marg-20" href="/users/logout">Logout, {{logged_user.first_name}}</a>
        </div>
    </div>
    <h1>This page is coming soon!</h1>
</body>
</html>