<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Home Page</title>
</head>
<body style="text-align:center">
    <div class="d-flex justify-content-between align-items-center">
        <img src="/static/img/img_logo_horizontal.png" alt="Read To Me Logo" class="logo-horizontal">
        <div>
            <a class="btn btn-logo-yellow marg-10" href="/home">Home</a>
            <a class="btn btn-logo-orange marg-20" href="/users/logout">Logout, {{logged_user.first_name}}</a>
        </div>
    </div>
    <h5>What to do:</h5>
    <h6>Each grade level has 3 levels of text: easy, medium, and hard. 
        <br> After picking the text that is right for you, use the recording feature at the bottom of the page to record yourself! 
    </h6>
<!-- Kindergarten -->
    <div class="mt-4">
        <h1 style="text-align:center" class="mb-4 bkg-yellow">Kindergarten</h1>
        <h3>A Tree for Two</h3>
        <p class="margin-page">
            Ben. Ben has a mat. Ben sat. Dot. Dot sat. Dot sat on Ben. Dot sat. Ben sat. 
        </p>
    </div>
    <div class="mt-4">
        <h3>Bob the Bee</h3>
        <p class="margin-page">
            This is Bob. He is a bee. This is Bob's home. This is Bob's mom. 
            Bob loves this rose. Bob likes to play. Can you see Bob? 
            "Not now, Bob." Bob helps. Good job, Bob! 
        </p>
    </div>
    <div class="mt-4">
        <h3>How Do Lily Pads Grow</h3>
        <p style="text-align: center" class="margin-page">
            Lily pads grow in water. They grow in lakes and ponds. 
            They are plants and grow from seeds. This is a big lily pad. 
            It grows a flower. Old flowers sink. They turn to seedpods.
        </p>
    <!-- First Grade -->
    </div>
        <div class="mt-4">
        <h1 style="text-align:center" class="mb-4 bkg-orange">First Grade</h1>
        <h3>March of the Land Crabs</h3>
        <p class="margin-page">
            One crab. Two crabs. Land crabs. Cuba crabs. Crabs walk. Crabs run. 
            Tons of crabs. Taxi crab. Taxi cab. Flat crab. Flat cab. 
            Crabs run to the sea. Crabs lay eggs. Crabs go home. Land crabs cannot swim. 
        </p>
    </div>
    <div class="mt-4">
        <h3>Wednesday</h3>
        <p class="margin-page">
            Pigs in the sty. Pigs start to fly. Pigs fly here. Pigs fly there. 
            All the pigs are in the air. Some glide. Some swoop. What if the pigs loop? 
            All pigs up. No pigs down. Pigs fly over town. My mother says,"What do I see?
            Flying pigs? Can it be?" Pigs fly today. The sky is full. What is next? Flying bulls?
        </p>
    </div>
    <div class="mt-4">
        <h3>The Bat Book</h3>
        <p class="margin-page" style="text-align: center">
            There are many kinds of bats. Bats come in many shapes and sizes. 
            Some have long ears, like this bat. Others do not. Some bats are big. The megabat
            is the largest bat in the world. Some bats are small. The bumblebee bat is the 
            smallest bat in the world. Some bats eat bugs. Bats that eat bugs are awake only at night. 
            This is a brown bat. Some bats eat fruit. Some bats that eat fruit are only awake at night.
            But many are only awake in the day. This is a fruit bat. 
        </p>
    </div>
    <!-- Second Grade -->
    </div>
    <div class="mt-4">
        <h1 style="text-align:center" class="mb-4 bkg-yellow">Second Grade</h1>
        <h3>Drumming in Class</h3>
        <p class="margin-page">
            Jin-May loves drums. She loves a good beat. All day long she taps a beat. 
            She taps on her desk. She taps on her books. She taps her feet. 
            "Jin-May, give it a rest," says Mr. Lopez. Jin-May has an idea. 
            She starts to tap. Tap, rest, tap, tap. Tap, tap, rest, tap, tap. 
            Not bad! She loves this new beat. Time out. Mr. Lopez says to stop. 
            It's not time to play the drums. The next day Mr. Lopez brings a drum! 
            Jin-May is very happy. 
        </p>
    </div>
    <div class="mt-4">
        <h3>Lebanon's Cedar Trees</h3>
        <p class="margin-page">
            Lebanon cedars are trees. Lebanon cedars grow in Lebanon. Lebanon is proud of them. 
            Lebanon put one on its flag. Lebanon is a country in the Middle East. Lebanon is next 
            to the Mediterranean sea on one side. It is next to Israel and Syria on the other sides. 
            Lebanon cedars are hard and have very string wood. The wood smells good, too. Lebanon cedars 
            are world-famous. Ancient kings liked their wood. They used it to make ships. They used it to make 
            forts. They used it to make temples. Lebanon cedars are big. They are evergreens. This means they have 
            leaves all year round. Lebanon cedars are tall. They can grow up to 130 feet high. They also live for a 
            long time. Some live as long as 1,000 years. 
        </p>
    </div>
    <div class="mt-4">
        <h3>Dina's Diner</h3>
        <p class="margin-page" style="text-align: center">
            Dina has a diner. It is at a truck stop. Lots of trucks stop there. The drivers eat at the diner. 
            The drivers love Dona's pies. She makes all kinds of pies. Some are sweet. Some are tart. Some are salty. 
            Larry loves the chicken pie. It is creamy. It is salty. It is full of chicken. Zelda loves the blueberry pie. 
            It is sweet. It is juicy. Tony loves the peach pie. It is like his mom's. Pop and Mack are twins. They share one truck. 
            They love pie. Pop loves the chocolate pie. Mack loves the pecan pie. Dona knows people love her pie. Dina lives pies, too. 
            Her favorite is apple pie. It is sweet. It is tart. 
        </p>
    </div>
        <!-- Third Grade -->
    </div>
    <div class="mt-4">
        <h1 style="text-align:center" class="mb-4 bkg-orange">Third Grade</h1>
        <h3>Protesting Peacefully</h3>
        <p class="margin-page">
            John Lewis was a leader. He fought for equal rights. He worked with Dr. Martin Luther King, Jr. John led many protests. 
            A protest is when people get together to show they are upset.John felt that it was best to protest in a peaceful way. 
            This is called a peaceful protest. There are many ways to do this. One is a sit-in. 
            You do this by sitting in one place and not moving. John led many sit-ins. Most of the protesters were black. 
            They sat down in places marked "whites-only". They did not move. They stayed for hours. Sometimes the sit-ins lasted for days. 
            Another type of peaceful protest is a boycott. A boycott is when you stop buying or using something. In 1955, Rosa Parks was 
            arrested for sitting in the front of a public bus in Montgomery, Alabama. The front of the bus was "whites-only". This was 
            unfair to black people. The black community was angry that Rosa was arrested. They wanted the bus to change its rules. 
            They boycotted the bus company. They boycott lasted for a whole year. They did not ride the buses. They did not buy bus tickets.
            The bus company lost money. There were not enough people buying tickets. The boycott showed the company that it needed its black 
            customers to stay in business. It showed the comapny that it had to treat its customers equally. The boycott got the bus comapny to change its rules. 
        </p>
    </div>
    <div class="mt-4">
        <h3>The Story of the Boy and the Sun</h3>
        <p class="margin-page">
            Long ago, in the time before time, a young boy lived with his mother. The boy did not have a father. The boy desperately wanted to know his father, 
            but his mother had no answers for him.“Tsay taaqa, little man,” said the boy's grandmother one morning, “You should go to the Sun and ask him about your father. 
            He is sure to know.” The boy made a special flour by grinding together a tortoise shell, coral, seashells, and cornmeal. He took this mixture and threw it 
            towards the heavens. He created a path to the sky that is today called the Milky Way. The boy climbed this path all the way to the Sun and asked him “Who is my father?” 
            Although impressed by the boy's efforts, the Sun replied, “You have a lot to learn.” And with that, the boy fell down, down, down to the earth below. 
            The boy was not deterred. He built a box out of cottonwood, placed it on the river, and sealed himself inside. He floated west, down the river to find the Sun once more.
            Eventually, the box washed ashore where the river split in two. “Is someone inside this box,” rasped a voice from outside the box. “Yes, yes,” cried the boy, 
            “Please let me out!” The boy heard soft sounds scraping around the sides and over the top of the box. He heard a crack, another crack, and boom! The side of 
            the box popped open. Outside lay a rattlesnake looking up at him, her tongue flicking in and out of her mouth as she took in his scent. After hearing his story,
            the rattlesnake asked to join the boy on his quest. Together, they traveled west toward the Sun until they saw a meteor falling toward the sea on its way to 
            the Sun's house. They asked the meteor for a ride, explaining the purpose of their journey. The meteor agreed, and the boy and the rattlesnake climbed onto 
            the meteor. When they arrived, they met the Sun's mother, who was none other than the Moon. The Moon was working on a piece of turquoise jewelry. She told 
            them to sit and wait with her until the Sun returned. That evening, the Sun returned from his day's work to find the boy and the rattlesnake. Again, the boy 
            asked the Sun, “Who is my father?” The Sun took a deep breath and replied, “I think I am your father.”
        </p>
    </div>
    <div class="mt-4">
        <h3>Two Great Women Meet</h3>
        <p class="margin-page" style="text-align: center">
            Amelia Earhart was born in 1897 and became a famous airplane pilot. She was the first woman to fly across the Atlantic Ocean alone. In a time when mostly men were pilots, 
            Amelia worked to help other women become pilots. Eleanor Roosevelt was born in 1884. She became a First Lady, which means that she was married to the President. But Eleanor 
            was famous for helping people, not for being the President's wife. In those days, women didn't have the same rights as men. Women were considered weaker than men. Both Amelia 
            and Eleanor knew that women were just as strong and as smart as men and that a woman could do any job that a man could do. Both women followed their hearts and did what they thought was right.
            In 1933, Eleanor met Amelia for the first time when Amelia was invited to dinner at the White House. Amelia and Eleanor had a lot in common—they were both extraordinarily strong 
            women who fought for women's rights—and they became fast friends. Eleanor asked Amelia what it was like to fly at night. Back then, it was very risky to fly at night since were 
            no computers to guide the plane. Navigating an airplane in the dark without specialized equipment was both difficult and dangerous. Amelia, who loved taking risks, told Eleanor 
            that flying at night was like flying with the stars. Eleanor had to see what it was like, so the two ladies slipped out of the White House in their fancy dresses, went to the airport, 
            and borrowed an airplane. Amelia took Eleanor for her first nighttime flight and Eleanor loved it! Soon after, Eleanor got a permit so that she could learn to fly an airplane. Amelia 
            said she would teach her how to fly, but unfortunately, she never got the chance. Amelia disappeared in 1937 while attempting to make a nonstop flight around the world. Her plane 
            crashed in the Pacific Ocean and Amelia disappeared without a trace. President Roosevelt, who liked Amelia as much as his wife did, instructed the navy to launch a massive search 
            for the famous pilot, but Amelia Earhart was never found. After that, Eleanor never learned to fly, but she never forgot her good friend either.
        </p>
    </div>
        <!-- Fourth Grade -->
    </div>
    <div class="mt-4">
        <h1 style="text-align:center" class="mb-4 bkg-yellow">Fourth Grade</h1>
        <h3>Bowlers for Baseball</h3>
        <p class="margin-page">
            In 2008, an American named J.B. Bernstein had an idea. He worked in baseball. He wanted to find new pitchers. His idea was look for a talented cricket player. 
            Then he would teach him to play baseball. Cricket and baseball are both very popular sports. But they are popular in different countries. Baseball is most popular 
            in the United States. Cricket is the most popular sport in India. So J.B. began his search in India. Cricket and baseball are different sports. But both use balls 
            and bats. One player throws a ball to another player, who is holding a bat. In baseball, the thrower is called a pitcher. In cricket, the thrower is called a bowler.
            You need special skills and practice to be a good pitcher (or bowler). J.B. created a reality TV show. It was called The Million Dollar Arm. His show filmed all 
            over India. Each contestant got to throw a baseball at a target. To win, you had to hit the target by throwing the ball faster than anyone else. The reward was 
            $100,000. The winner could try to win $1 million in a bonus round. Rinku Singh won the grand prize. Dinesh Patel came in second place. J.B. helped them move to the U.S. 
            He trained them as pitchers. J.B. hoped they would find spots on a Major League Baseball (MLB) team. The idea of training bowlers to be pitchers was a new one. Baseball 
            experts wondered if J.B.'s experiment would work. Soon, everybody was talking about the new Indian pitchers. Rinku and Dinesh trained for many months. They got very good. 
            Soon it was time to put their skills to the test. They called in the scouts. Scouts find new players for their baseball teams. In 2008, Rinku and Dinesh tried out in front of 20 baseball scouts.
            J.B.'s experiment was a success. Rinku and Dinesh were hired to play on a MLB team. When Rinku and Dinesh joined the Pittsburgh Pirates, it was big news. 
            Suddenly, they were famous. They played in their first game on July 4, 2009. Today, Rinku continues to play baseball. He plays in the U.S. and around the world. 
            Dinesh returned to India. He teaches baseball to children. Both thank J.B. and The Million Dollar Arm contest for changing their lives. In 2014, Rinku and Dinesh became even more famous! 
            Hollywood made a movie about them.
        </p>
    </div>
    <div class="mt-4">
        <h3>Model T</h3>
        <p class="margin-page">
            Today is my first day at my new job working for Ford. I am excited and nervous. I give my shoes one final buff before I stand up to get my coat. It's an icy,
            windy morning in Michigan. Dirty snow lines the streets of my neighborhood. I try to avoid the slush as I walk the 2 miles to the factory. The Ford factory is 
            enormous. Huge squares of floor-to-ceiling windows surround the ground floor. Above it loom five towering smokestacks, huffing smoke into the frigid morning air. 
            “Stanley Marks reporting for training, sir,” I tell Mr. Hubbard, the floor manager, when I arrive. “Hrmm, yes,” says Mr. Hubbard looking me up and down. 
            “Follow me, Mr. Marks. Our factory is the most advanced in the world. When we started, it took us 12 hours to make and build a Model T. 
            Today, we do it in only 6 hours!” Hundreds of young men are at work, each busy with a different job along the conveyor belt. The conveyor belt moves parts at a frantic pace. 
            The air is heavy with the sounds of the machines, the clanging of hammers, and the grunts of the workers. Each man does one job and nothing else, working as fast as he can. 
            No one stops to look at us. They don't take their eyes from their work—“That's a sure way to lose a finger, or worse,” says Mr. Hubbard. Mr. Hubbard explains that my job will 
            be to smooth the edges of the pinion gear. He shows me how to do this using a tool called a buffer. I'm supposed to put the finished gear on the conveyor belt when I'm done.
            Mr. Hubbard asks me to show him what I've learned. When I'm done, he puts a hand on my shoulder and says, “Tip top, my boy. Now you're an expert. Get to work.” Then he walks away.
            The work is harder than it looks. I have to stand on my feet for eight hours and do the same motions over and over again all day. If I don't move fast enough, the guys ahead of 
            me on the assembly line begin to complain. They need me to finish so that they can do their jobs. I leave the factory at the end of the day. The frosty air outside is much quieter. 
            I walk home deep in thought. I don't think I can do this job. I don't think I can do the same motions all day, everyday for the rest of my life. If my family didn't need the money, 
            I would walk home and never come back. But Ford pays better than most anyone else in town. With bonuses, I'll be able to make $5 a day. I'll be able to feed my family and even take 
            them to an occasional picture show. Maybe one day, if we save up, we'll even have enough money to buy our own Model T. Then I can take my family out to the country on the weekends. 
            Wouldn't that be grand!
        </p>
    </div>
    <div class="mt-4">
        <h3>Travel Guide: Only in Japan</h3>
        <p class="margin-page" style="text-align: center">
            Thinking of visiting Tokyo, Japan? We highly recommend it. Tokyo is Japan's capital and one of the most modern cities in the world. But as modern as the city is, you'll notice 
            that the Japanese people have a unique way of combining very old traditions into very modern ways of life. You can see this in Tokyo's vending machines. Giving excellent service to customers has long been
            an important part of Japanese culture and Japanese vending machines do just that. Vending machines in Tokyo offer hundreds of varieties of drinks—both hot and cold. Offering a lot of choices is one way to provide 
            excellent service to customers. Japan probably has more vending machines per person than any other country. Japan has more than five million vending machines, that's one vending machine for every 23 people.
            Japan's vending machines are very high-tech and don't need cash or coins to pay. You can use either a Pasmo or Suica rechargeable smart card. You give the card company money, and it transfers that money 
            to your card. To pay, all you have to do is touch your card to the circular sensor! But be careful not to tamper with any of the vending machines. The machine will send a signal that calls the police.
            Many business people work in Tokyo. They work very long hours and don't always have time to run to restaurants or even to the store. Vending machines help with that! There are rows of vending machines 
            that offer hot, fresh meals. You can get a cup of Ramen noodles or a tofu hamburger with rice. The food comes out hot and tasty. Even the rice looks pretty, molded into neat little triangles.
            If you're hungry for a healthy snack, you can buy a banana from a banana vending machine. Once you make your selection, a neat little tray rises up to collect the banana and then lowers it gently 
            and places it in the vending slot. This ensures that your banana doesn't get bruised or mushy. Vending machines even sell things like razors, umbrellas, and newspapers. They also sell canned bread, 
            which is a little bizarre but interesting. Do vending machines mean quick food on the go? Yes and no. In Japanese culture, it's considered extremely rude to eat or drink while you walk, so if you can't
            wait to eat your banana, you have to do it while standing next to the vending machine. Don't worry, there's a garbage can right next to the machine where you can throw your banana peel when you're done. 
            Vending machines that offer full meals often have nearby picnic tables. That way you can sit down to eat your food if you like. Vending machines are not only for city dwellers, but for people who live 
            in the countryside as well. Imagine that you're on your way home from the city after a long day of work and as you get off your train you suddenly remember you are out of rice... Don't worry! There are 
            rows of vending machines that offer sacks of rice in a wide variety. (Keep in mind that rice is a staple on Japanese tables. It's as important as bread or milk in America.) As you can see, Japan's vending 
            machines have a lot to offer. They offer great service and are one of the things that will make your visit to Tokyo a great one!
        </p>
    </div>
        <!-- Fifth Grade -->
    </div>
    <div class="mt-4">
        <h1 style="text-align:center" class="mb-4 bkg-orange">Fifth Grade</h1>
        <h3>The Swiss Alps Make Me Sick</h3>
        <p class="margin-page">
            The Alps are a vast mountain range in Europe. They range across eight countries: France, Switzerland, Germany, Italy, Austria, Monaco, Liechtenstein, 
            and Slovenia. Some countries have more Alps than others. Switzerland has the most. The Alps cover 65% of Switzerland. Mountain climbing is a popular 
            sport in Switzerland. The International Climbing and Mountaineering Federation (UIAA) measures the different types of mountains. In the Alps, there are 
            82 four- thousanders, 48 of these are in Switzerland. A four- thousander is a mountain that is 4,000 meters (13,123 feet) above sea level. By the way, 
            only Americans use feet to describe height of stuff like mountains. The rest of the world uses meters and so will I for the rest of this article. 2017 
            The Swiss Alps Make Me Sick Let me tell you a bit about myself. I'm more of a beachy, sea-level type 
            of girl. But when we were traveling in Europe, my friend Kim convinced me to climb a four-thousander in Switzerland with her. Kim chose an “easy” mountain. 
            It's called the Breithorn. It's on Switzerland's southern border, near Italy. The Klein Matterhorn cable car takes climbers to the top of Klein Matterhorn 
            (3880 meters), the mountain next to Breithorn. The ride in the cable car is truly breathtaking. You rise over pine trees and quaint wood cabins. 
            The sky is bright blue. The snow is blinding white. I imagine this is what the setting of the story of Heidi looked like. 
            From the top of Klein Matterhorn we began to prepare for our climb up Breithorn. We paid to go with a guided tour. We rented crampons and ice picks 
            to help us climb up the icy mountain. Crampons are kind of like cleats. You strap them to the bottom of your boots. Instead of rubber nubs, the cleats 
            are metal spikes. These help you not slip on the ice and fall off the mountain. We also rented some cold weather gear. It was much colder than we'd expected. 
            While we were getting ready, I started to get a headache. I felt very light-headed, too, like I couldn't catch my breath. The group leader explained 
            that the higher the altitude, the less oxygen there is in the air. That means for each breath you take, your body is getting less oxygen than at sea level. 
            When you first get to a high altitude, your body suffers from oxygen deprivation (in other words, it's not getting enough) and you can start to feel ill. 
            At 3,000 meters, the air starts to get pretty thin. We were now at more than 3,800 meters and the air was very thin and my body was feeling it. But Kim was 
            pretty pumped about the hike, so I swallowed my complaints and went along. The group leader told us to drink lots of water to help with the altitude. 
            I guess not having enough oxygen can also dehydrate you. Well, I did my best. The round trip hike was supposed to last between three to four hours. 
            Guess who didn't make it past an hour and a half? Nope, not me. It was Kim. But I'm a good friend, so I stayed with her. About 30 minutes into our ascent, 
            I really started to feel sick. My whole body hurt, kind of like when you have the flu. At the 90-minute point, Kim sat down on a ledge and said she couldn't 
            go any farther. Luckily, Kim wasn't the only one. A group of five or six of us was told to sit or lie down and relax. We lay in the ice looking up at the 
            sky and wondering if this is where it all ends. The assistant guide let us rest for about an hour and then led us carefully down the mountain. 
            I was so exhausted and sick by the time we reached Klein Matterhorn that I threw up (just another fun symptom of altitude sickness). 
            I guess you could say that I left my mark in the Swiss Alps. After rinsing my mouth with water, I was able to tell Kim, “Next time, we go to Hawaii. 
            The Swiss Alps make me sick.”
        </p>
    </div>
    <div class="mt-4">
        <h3>The Dust Bowl</h3>
        <p class="margin-page">
            In 1862, Congress passed the Homestead Act to encourage farmers in the east to move and farm on land west of the Mississippi River. For a small fee, 
            farmers would get 160 acres of prairie land so long as they lived on it and farmed it for five years. These farmers, known as pioneers, moved out to the 
            prairie in the thousands. The prairie is located across an enormous swath of land called the Great Plains. The Great Plains have a unique environment. 
            They were once entirely covered in deep- rooted grass that grew between 5 and 10 feet high in some regions. The plains are naturally very windy. It is very 
            hot during the day in the summer and prone to long droughts (when very little rain falls) that can last up to two years. The pioneers who settled the 
            region cleared away millions of acres of grass. Unfortunately, pioneers didn't know that clearing away the grasses would create one of the worst man-made 
            environmental disasters in human history. The Great Plains were a great place to grow grain. The topsoil is the richest and most nutritious part of the soil. 
            Topsoil is the soil in which farmers plant their crops. The thicker the topsoil, the better it is for planting. It is also looser than the soil found 
            underneath. Most topsoil is between 1-8 inches deep, but the topsoil in the Great Plains was 6 feet deep and the richest on earth. Four generations of 
            farmers—starting with the original pioneers—plowed the Great Plains and used up the topsoil. By 1934, the rain stopped, the topsoil dried out, and the 
            strong winds picked it up. The air was so dry that it was full of static electricity. The dried-out topsoil rose into the air as dust and was carried 
            off by the gusty winds of the Great Plains. It happened on April 14, 1935. A deep, dark cloud hung over the horizon in Kansas. No one knew what it was 
            nor had any idea what was coming for them—some people thought it was the end of the world. This day became known as Black Sunday. It was the first black 
            blizzard, one of the worst dust storms ever seen in America. It blacked out the sun and covered thousands of miles of land in thick dust from Colorado 
            all the way to New York City. But the lands of the Great Plains were hit the hardest. The thick dust choked and smothered farmers, even indoors. Winds of 
            40-60 miles per hour blew the fine dust all across the prairie. The dust was so thick and the winds so strong, that it could take the paint right off 
            of the cars, like sandpaper. It stung your skin, burned your eyes, and clogged your throat. It was so thick that you couldn't see your hand in front of your 
            face. It destroyed houses and buildings, too. Worst of all, it was impossible to grow anything. Farmers of the Great Plains began to abandon their farms, 
            packing everything they owned into a car and heading west to look for work. Some farmers stayed, trying to wait out the dust storms. The Dust Bowl started 
            to end when farmers began to use a new farming technique and after the United States government bought four million acres of prairie and turned it into 
            national grasslands. National grasslands couldn't be used for farming, which allowed the natural prairie grass to grow back and helped to end the Dust Bowl. 
            But Americans haven't learned their lesson from the Dust Bowl. In the 1950s, scientists discovered a water source far underneath the ground of the Great 
            Plains called the Ogallala Aquifer. Farmers could now dig deep into the ground to get water for their crops. They began to plant more crops, including 
            corn to feed pigs and cows for the meat industry. Feed corn requires much more water than wheat. The Ogallala Aquifer was originally about 100 feet deep. 
            Today, farmers have used so much water that it is only 50 feet deep. In 20 years, it will be dry. Once they lose the water, they won't be able to farm 
            that land anymore. Could this cause another Dust Bowl catastrophe? Scientists think that it could. The question is, how do we stop it?
        </p>
    </div>
    <div class="mt-4">
        <h3>Africa at a Glance</h3>
        <p class="margin-page" style="text-align: center">
            Africa is one of the seven continents that make up the world. Africa is the second-largest continent and has the second- largest human population in 
            the world. The world's largest continent in terms of both size and population is Asia. Africa is made up of 54 different countries that are categorized 
            into five regions: Northern Africa, Western Africa, Central Africa, Eastern Africa, and Southern Africa. Each country is unique and has its own customs, 
            traditions, and languages (more than a thousand different languages are spoken in Africa). Africa has many different climate zones. It is the hottest 
            continent on the planet because more than half of the continent consists of dry lands and desert. The Sahara Desert, which spans across the northern 
            portion of the continent, is the largest hot desert in the world. A desert is defined as a region that gets very little to no rainfall each year, so a 
            region doesn't need to have a hot climate to be considered a desert. The largest deserts in the world—Antarctica and the Artic—are actually cold deserts. 
            Africa is known for its incredible wildlife as well as for many of its landforms. Africa's most famous wildlife lives mostly in the savannah region, but 
            can be found anywhere south of the Sahara Desert. Famous animals of the African Savannah include lions, elephants, giraffes, rhinos, hippos, hyenas, and 
            zebras. Some of Africa's best-known landforms include the Nile River, Lake Victoria, Victoria Falls, Mount Kilimonjaro, and the rainforests of the Congo 
            River basin. The Nile River is the longest river in the world. Unlike any other river, the waters of the Nile run from south to north (usually rivers run 
            from north to south). A little over 100 years ago, finding the source of the Nile River was a big deal. Several European explorers braved the jungles of 
            Africa in order to be the first to discover it. John Hanning Speke from England was the first to discover the Nile's source in 1858. But he was apparently 
            such a showoff about it that no one believed him for quite some time. Years later—after Speke was long dead—Lake Victoria was proven to be the true source 
            of the Nile. Lake Victoria is the largest lake in Africa and spreads across three countries: Uganda, Kenya, and Tanzania. Dangerous animals like Nile 
            crocodile and hippos live in Lake Victoria and its surrounding wetlands. Victoria Falls is the largest waterfall in the world. It is nowhere near Lake 
            Victoria, however. Instead, the falls cross the border between Zambia and Zimbabwe. Mt. Kilimonjaro is the highest mountain peak in Africa, rising more 
            than 16,000 feet above sea level. Mt. Kilimonjaro, a dormant volcano, is topped with three volcanic cones that are covered with snow for most of the year. 
            It is part of Kilimanjaro National Park in Tanzania and is a popular destination for rock climbers from all over the world. Mt. Kilimanjaro Africa's 
            rainforests are mostly located in Central Africa, and the rainforests in the Congo River basin are the largest in Africa. As you can guess, the Congo 
            River basin is mostly located in the Congo. The rainforests of the Congo River basin are home to half of Africa's wildlife, the most notable being gorillas 
            and chimpanzees. From apes to zebras and from Algeria to Zambia, Africa has a lot to offer. It has magnificent landforms, incredible wildlife, and is rich 
            with different people and diverse cultures. As you can see, Africa is worth more than just a glance; to find out more about Africa, search for more 
            information online or in your library.
        </p>
    </div>
<main>
    <p style="text-align: center">All text passages from <a href="https://www.rif.org/literacy-central/search?query=&field_themes=All&field_supported_grades=All&type=All&f%5B0%5D=field_support_type%3Areading%20passage&f%5B1%5D=supported_grades%3A1st&f%5B2%5D=type%3Asupport_material">Reading is Fundamental</a>.</p>
    <!-- Video & Audio Recording using MediaCapture, MediaRecorder, & Streams API -->
    <p>
        <button class="btn btn-success btn-recording gap-3" id="btnStart">START</button>
        <button class="btn btn-danger btn-recording" id="btnStop">STOP</button>
    </p>
    <!-- display what's coming thru the webcam -->
        <video controls></video>
        <video id="vid2" controls></video>
</main>
<script>
    
    let constraintObj = { 
        audio: true, 
        video: true
    }; 
    
    //handle older browsers that might implement getUserMedia in some way
    if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
        navigator.mediaDevices.getUserMedia = function(constraintObj) {
            let getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            if (!getUserMedia) {
                return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
            }
            return new Promise(function(resolve, reject) {
                getUserMedia.call(navigator, constraintObj, resolve, reject);
            });
        }
    }else{
        navigator.mediaDevices.enumerateDevices()
        .then(devices => {
            devices.forEach(device=>{
                console.log(device.kind.toUpperCase(), device.label);
                //, device.deviceId
            })
        })
        .catch(err=>{
            console.log(err.name, err.message);
        })
    }

    navigator.mediaDevices.getUserMedia(constraintObj)
    .then(function(mediaStreamObj) {
        //connect the media stream to the first video element
        let video = document.querySelector('video');
        if ("srcObject" in video) {
            video.srcObject = mediaStreamObj;
        } else {
            //old version
            video.src = window.URL.createObjectURL(mediaStreamObj);
        }
        
        video.onloadedmetadata = function(ev) {
            //show in the video element what is being captured by the webcam
            video.play();
        };
        
        //add listeners for saving video/audio
        let start = document.getElementById('btnStart');
        let stop = document.getElementById('btnStop');
        let vidSave = document.getElementById('vid2');
        let mediaRecorder = new MediaRecorder(mediaStreamObj);
        let chunks = [];
        
        start.addEventListener('click', (ev)=>{
            mediaRecorder.start();
            console.log(mediaRecorder.state);
        })
        stop.addEventListener('click', (ev)=>{
            mediaRecorder.stop();
            console.log(mediaRecorder.state);
        });
        mediaRecorder.ondataavailable = function(ev) {
            chunks.push(ev.data);
        }
        mediaRecorder.onstop = (ev)=>{
            let blob = new Blob(chunks, { 'type' : 'video/mp4;' });
            chunks = [];
            let videoURL = window.URL.createObjectURL(blob);
            vidSave.src = videoURL;
        }
    })
    .catch(function(err) { 
        console.log(err.name, err.message); 
    });
    
    /*********************************
    getUserMedia returns a Promise
    resolve - returns a MediaStream Object
    reject returns one of the following errors
    AbortError - generic unknown cause
    NotAllowedError (SecurityError) - user rejected permissions
    NotFoundError - missing media track
    NotReadableError - user permissions given but hardware/OS error
    OverconstrainedError - constraint video settings preventing
    TypeError - audio: false, video: false
    *********************************/
</script>
</body>
</html>